<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js'
        integrity='sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw=='
        crossorigin='anonymous'></script>
    <script src="/plugin/HoldOn.min.js"></script>
    <link rel="stylesheet" href="/plugin/HoldOn.min.css">
    <!-- <script type="importmap">
        {
            "imports": {
              "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
            }
        }
    </script> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vuejs-paginate-next@1.0.2/dist/vuejs-paginate-next.umd.js"></script>
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <ul class="nav nav-tabs mt-5">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" @click="switchPage(1)">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" @click="switchPage(2)">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" @click="switchPage(3)">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
                    @click="switchPage(4)">Disabled</a>
            </li>
        </ul>
        <section v-if="currentPage==1" class="mt-5 mb-5">
            <div class="container-fluid">
                <button class="btn btn-light btn-outline-info" @click="changeSwitch">進階搜尋</button>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row gx-1">
                                    <template v-if="isSwitch">
                                        <div class="col-4">
                                            <div>
                                                <label class="form-label">建立時間</label>
                                                <div class="row gx-0">
                                                    <div class="col-6">
                                                        {{search.startDate}}
                                                        <input type="date" v-model="search.startDate">
                                                    </div>
                                                    <div class="col-6">
                                                        {{search.endDate}}
                                                        <input type="date" v-model="search.endDate">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div>
                                                <label for="inputName" class="form-label">名稱</label>
                                                <input type="text" class="form-control" id="inputName"
                                                    v-model="search.name">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div>
                                                <label class="form-label">價格 range</label>
                                                <div class="row">
                                                    <div class="col">
                                                        <label>最大價格:{{search.maxPrice}}</label>
                                                        <input type="range" min="0" :max="maxPrice"
                                                            v-model="search.maxPrice">
                                                    </div>
                                                    <div class="col">
                                                        <label>最低價格{{search.minPrice}}</label>
                                                        <input type="range" min="0" :max="maxPrice"
                                                            v-model="search.minPrice">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div>
                                                <label for="inputDesc" class="form-label">敘述</label>
                                                <input type="text" class="form-control" id="inputDesc"
                                                    v-model="search.description">
                                            </div>
                                        </div>
                                    </template>
                                    <template v-else>
                                        <div class="col-6">
                                            <div>
                                                <label for="inputName" class="form-label">全文檢索</label>
                                                <p class="text-info">搜尋任何出現的字眼</p>
                                                <input type="text" class="form-control" id="inputName"
                                                    v-model="search.allText">
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3" v-cloak>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Pic</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">建立時間</th>
                                    <th scope="col">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="isSwitch">
                                    <tr v-for="(prod,idx) in filterProductsByDate">
                                        <th scope="row">{{++idx}}</th>
                                        <td><img class="w-100 h-100" :src="prod.imageUrl"></td>
                                        <td>{{prod.name}}</td>
                                        <td>{{prod.price}}</td>
                                        <td>{{prod.description}}</td>
                                        <td>{{prod.createDate}}</td>
                                        <td>
                                            <div class="row gx-1">
                                                <div class="col">
                                                    <button class="btn btn-primary">編輯</button>
                                                </div>
                                                <div class="col">
                                                    <button class="btn btn-danger"
                                                        @click="deleteProduct(prod,$event)">刪除</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr v-for="(prod,idx) in filterAllText">
                                        <th scope="row">{{++idx}}</th>
                                        <td><img class="w-100 h-100" :src="prod.imageUrl"></td>
                                        <td>{{prod.name}}</td>
                                        <td>{{prod.price}}</td>
                                        <td>{{prod.description}}</td>
                                        <td>{{prod.createDate}}</td>
                                        <td>
                                            <div class="row gx-1">
                                                <div class="col">
                                                    <button class="btn btn-primary">編輯</button>
                                                </div>
                                                <div class="col">
                                                    <button class="btn btn-danger"
                                                        @click="deleteProduct(prod,$event)">刪除</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section v-else-if="currentPage ==2" class="mt-5 mb-5">第二個頁籤</section>
        <section v-else-if="currentPage ==3" class="mt-5 mb-5">第三個頁籤</section>
        <section v-else-if="currentPage ==4" class="mt-5 mb-5">第四個頁籤</section>

        <!-- <paginate
  :page-count="20"
  :prev-text="'Prev'"
  :next-text="'Next'"
  :container-class="'className'"
>
</paginate> -->
        <footer class="footer fixed-bottom mt-auto py-3 bg-light">
            <div class="container">
                <span class="text-muted">
                    <div style="vertical-align: inherit;">
                        <div style="vertical-align: inherit;">將黏性頁腳內容放置在此。</div>
                    </div>
                </span>
            </div>
        </footer>
    </div>
</body>
<script>
    let hello = Vue.createApp({
        data() {
            return {
                currentPage: 1,
                isSwitch: true,
                search: {
                    name: "",
                    description: "",
                    maxPrice: 0,
                    minPrice: 0,
                    startDate: "",
                    endDate: "",
                    allText: ""
                },
                products: []
                // products: [
                //     { id: "1", createDate: "2024-01-05", name: "超級筆記本", description: "高效能的筆記本，適合所有種類的專業工作。", price: 999, imageUrl: "https://picsum.photos/id/684/35/35" },
                //     { id: "2", createDate: "2024-01-06", name: "智慧手錶", description: "具備先進健康追蹤功能的智慧手錶。", price: 299, imageUrl: "https://picsum.photos/id/694/35/35" },
                //     { id: "3", createDate: "2024-01-07", name: "無線耳機", description: "提供高質感音質體驗的無線耳機，長時間佩戴也舒適。", price: 199, imageUrl: "https://picsum.photos/id/683/35/35" },
                //     { id: "4", createDate: "2024-01-08", name: "智慧型手機", description: "具備最新技術的智慧型手機，拍照更清晰，速度更快。", price: 999, imageUrl: "https://picsum.photos/id/284/35/35" },
                //     { id: "5", createDate: "2024-01-09", name: "平板電腦", description: "輕巧便攜的平板電腦，適合閱讀和娛樂。", price: 599, imageUrl: "https://picsum.photos/id/687/35/35" },
                //     { id: "6", createDate: "2024-01-10", name: "遊戲主機", description: "提供頂級遊戲體驗的遊戲主機，支持多人在線遊戲。", price: 399, imageUrl: "https://picsum.photos/id/654/35/35" },
                //     { id: "7", createDate: "2024-01-11", name: "智慧燈泡", description: "可通過智慧手機控制的智慧燈泡，支持調節亮度和顏色。", price: 49, imageUrl: "https://picsum.photos/id/384/35/35" },
                //     { id: "8", createDate: "2024-01-12", name: "機器人吸塵器", description: "自動清潔的機器人吸塵器，省時省力。", price: 299, imageUrl: "https://picsum.photos/id/184/35/35" },
                //     { id: "9", createDate: "2024-01-13", name: "智慧鍋", description: "智能控制烹飪時間和溫度的智慧鍋，讓烹飪更簡單。", price: 199, imageUrl: "https://picsum.photos/id/234/35/35" },
                //     { id: "10", createDate: "2024-01-14", name: "電動滑板車", description: "環保節能的電動滑板車，適合城市短途出行。", price: 499, imageUrl: "https://picsum.photos/id/64/35/35" }
                // ]
            }
        },
        computed: {
            filterAllText() {
                if (this.search.allText) return this.products
                    .filter(x => x.name.includes(this.search.allText) ||
                        x.description.includes(this.search.allText) ||
                        x.price.toString().includes(this.search.allText) ||
                        x.createDate.includes(this.search.allText)
                    );
                return this.products;
            },
            filterProductsByName() {
                if (this.search.name) return this.products.filter(x => x.name.includes(this.search.name));
                return this.products;
            },
            filterProductsByDesc() {
                if (this.search.description) return this.filterProductsByName.filter(x => x.description.includes(this.search.description));
                return this.filterProductsByName;
            },
            filterProductsByPrice() {
                var data = this.filterProductsByDesc;
                if (this.search.maxPrice > 0) {
                    data = data.filter(x => x.price <= this.search.maxPrice)
                }
                if (this.search.minPrice > 0) {
                    data = data.filter(x => x.price >= this.search.minPrice)
                }
                return data
            },
            filterProductsByDate() {
                var data = this.filterProductsByPrice;
                if (this.search.startDate) {
                    data = data.filter(x => new Date(x.createDate) >= new Date(this.search.startDate))
                }
                if (this.search.endDate) {
                    data = data.filter(x => new Date(x.createDate) <= new Date(this.search.endDate))
                }
                return data
            },
            maxPrice() {
                var d = Math.max(...this.products.map(x => x.price));
                console.log(d);
                return d;
            }

        },
        watch: {

        },
        components: {
            paginate: VuejsPaginateNext,
        },
        methods: {
            switchPage(page) {
                this.currentPage = page;
            },
            changeSwitch() {
                this.isSwitch = !this.isSwitch;
            },
            deleteProduct(willBeDeleted, e) {
                console.log(willBeDeleted);
                console.log(e);
                if (confirm(`您確定要刪除:${willBeDeleted.name}嗎?`)) {
                    // var idx = this.products.findIndex(x=>x.id == willBeDeleted.id);
                    // this.products.splice(idx,1);
                    this.products = this.products.filter(x => x.id != willBeDeleted.id);
                }
            }
        },
        beforeCreate() {
            HoldOn.open({
                theme: "sk-cube-grid"
            });
            console.log("beforeCreate", this.currentPage);
        },
        created() {
            console.log("created", this.currentPage);
        },
        beforeMount() {
            console.log("beforeMount", this.currentPage);
        },
        mounted() {
            fetch("https://localhost:7217/api/Mock").then(res => res.json()).then(result =>{
                HoldOn.close();
                this.products = result
            })
            console.log("mounted", this.currentPage);
        },
        beforeUnmount() {
            console.log("beforeUnmount", this.currentPage);
        },
        unmounted() {
            console.log("unmounted", this.currentPage);
        },
    }).use(VuejsPaginateNext).mount("#app");
</script>

</html>