<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js'
        integrity='sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw=='
        crossorigin='anonymous'></script>
    <script src="/plugin/HoldOn.min.js"></script>
    <link rel="stylesheet" href="/plugin/HoldOn.min.css">
    <script type="importmap">
        {
            "imports": {
              "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
              "hello":"/sub.js",
              "world":"/add.js"
            }
        }
    </script>
</head>

<body>
    <div id="app">
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row container d-flex justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <form class="card">                          
                            <h5 class="card-title fw-400">Sign Up</h5>
                            <div class="card-body">
                                <a href="https://www.google.com" @click.prevent="goback">hi~~~~</a>
                                <div class="form-group">
                                    <label>count</label>
                                    <input class="form-control" type="text" v-model.number="form.count">
                                </div>
                                <div class="form-group">
                                    <label>Email</label>API發送次數:{{apiTime}}
                                    <input class="form-control" :class="validation.email" type="text"
                                        v-model.lazy.trim="form.email">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>password</label>
                                    <input class="form-control" :class="pwdIsvalid ? 'is-valid':'is-invalid'" type="password" @keyup.enter="done" v-model="form.password">
                                    <div class="valid-feedback">
                                        密碼OK!
                                    </div>
                                    <div class="invalid-feedback">
                                        你的密碼跟你的人一樣有夠隨便?!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>DateTime</label>
                                    <input class="form-control" type="datetime-local" v-model="form.dateTime">
                                </div>
                                <div class="form-group">
                                    <h2>你從哪裡得知Tibame微軟班</h2>
                                    <div class="form-check" v-for="item in allHowToKnow">
                                        <input class="form-check-input" type="checkbox" :value="item.id"
                                            v-model="form.selectedHowToKnow" :id="item.id">
                                        <label class="form-check-label" :for="item.id">{{item.text}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h3>假別</h3>
                                    <select class="form-select" v-model="form.selectedDay">
                                        <option v-for="item in dayOfCategory" :value="item.id">{{item.text}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <h2>性別</h2>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                    id="男生" value="1" v-model="form.radio">
                                                <label class="form-check-label" for="男生">男生</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                    id="女生" value="2" v-model="form.radio">
                                                <label class="form-check-label" for="女生">女生</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                    id="畜生" value="3" v-model="form.radio">
                                                <label class="form-check-label" for="畜生">畜生</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheck" value="老師生氣"
                                            v-model="form.chk">
                                        <label class="form-check-label" for="SwitchCheck">老師生氣</label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheck1" value="學生閉嘴"
                                            v-model="form.chk" checked>
                                        <label class="form-check-label" for="SwitchCheck1">學生閉嘴</label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheck2" value="老師睡覺"
                                            v-model="form.chk" disabled>
                                        <label class="form-check-label" for="SwitchCheck2">老師睡覺</label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheck3" value="老師開放斗內"
                                            v-model="form.chk" checked disabled>
                                        <label class="form-check-label" for="SwitchCheck3">老師開放斗內</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-control">
                                        <textarea name="" id="" cols="30" rows="10" v-model="form.msg">
                                        </textarea>
                                    </div>
                                </div>
                                <button class="btn btn-block btn-bold btn-primary" type="button" @click="send">{{arrCount}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var aaaa;
</script>
<script type="module">
    import { createApp } from 'vue'
    createApp({
        data() {
            return {
                validation:{
                    email:true,
                },
                obj: {
                    a: 1,
                    b: 2,
                    c: 3
                },
                arr: [1, 2, 3, 4],                
                form: {
                    count:0,
                    email: "",
                    password: "",
                    dateTime: "",
                    selectedHowToKnow: [],
                    chk: [],
                    radio: "",
                    selectedDay: "1",
                    msg: `sedfsdfsdsdfsd
                    fsdgsdf
                    ghdfbdf
                    ghrfghjfg
                    `
                },
                apiTime:0,
                dayOfCategory: [
                    { id: 0, text: "請選擇" },
                    { id: 1, text: "事假" },
                    { id: 2, text: "病假" },
                    { id: 3, text: "特休" },
                    { id: 4, text: "喪假" },
                    { id: 5, text: "生理假" },
                ],
                allHowToKnow: [],
                name: "reds",
                lastName:"Wang",
                chg: true,
                box: {
                    "width": "100px",
                    "height": "100px",
                    "border-radius": "50%"
                },
                blue: {
                    "background-color": "blue"
                },
                red: {
                    "background-color": "red"
                }
            }
        },
        computed:{
            fullName(){
                console.log("fullName");
                return this.name+this.lastName;
            },
            arrCount(){
                return this.arr.length;
            },
            pwdIsvalid(){
                var rex = new RegExp(/password|abc0830|hahaha0908/g);
                var result = rex.test(this.form.password);
                return !result;
            }
        },
        watch: {
            "form.email": {
                handler(newVal, oldVal) {
                    this.apiTime++;
                    var exist = ["reds1210@gmail.com", "esther0908@gmail.com"];
                    this.validation.email = exist.includes(newVal) ? "is-invalid" : "is-valid";
                },
                immediate:false
            },
            arr(n) {
                console.log(n);
            },
            "obj": {
                deep: true,
                handler(n) {
                    console.log(n);
                }
            }
        },
        methods: {
            showFullName(){
                console.log("showFullName");
                return this.name+this.lastName;
            },
            done(e){
                console.log(e);
            },
            goback(e){
                // e.preventDefault();
                
                console.log("Hi~~~~")
            },
            inp(e) {
                this.name = e.target.value;
            },
            send() {
                HoldOn.open({
                    theme: "sk-cube-grid",
                    message: "處理中..."
                });
                //ajax
                fetch("https://localhost:7217/api/add").then(res => res.json())
                    .then(res => {
                        if (res.status == true) {
                            alert("新增成功");
                        } else {
                            alert("新增失敗");
                        }
                    }).finally(() => HoldOn.close())
            }
        },
        mounted() {
            fetch("https://localhost:7217/api/HowToKnow").then(res => res.json()).then(res => this.allHowToKnow = res);
            let self = this;
        }
    }).mount("#app");
</script>

</html>